.site__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.home__list {
  width: 692px;
  height: 21.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 80px;
  margin-bottom: 40px;
}

.home__img {
  width: 177.55px;
  height: 86.23px;
}

.home__immg {
  width: 23px;
  height: 20.95px;
}

.home__box {
  width: 30px;
  height: 30px;
  display: none;
}

.home__fish {
  width: 20.75px;
  height: 20.75px;
}

.home__panja {
  border: none;
  font-family: arimo;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  width: 129.32px;
  height: 26.19px;
  margin-right: 64px;
  padding-bottom: 30px;
  text-align: right;
  margin-bottom: 35px;
}

.home__panja {
  background-image: url(../../img/pet.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1192px) {
  .home__item {
    max-width: 1092px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 885px) {
  .home__item {
    max-width: 808px;
  }
}

@media only screen and (max-width: 808px) {
  .home__item {
    display: none;
  }
  .home__fish {
    display: none;
  }
}

@media only screen and (max-width: 785px) {
  .home__item {
    max-width: 602px;
  }
  .home__main {
    font-size: 16px;
  }
}

@media only screen and (max-width: 428px) {
  .home__item {
    max-width: 394px;
  }
  .home__main {
    font-size: 14px;
  }
}

.home__content {
  background-image: url(../../img/photo_2024-03-13_17-30-54.jpg);
  height: 700px;
  background-repeat: no-repeat;
}

.home__title {
  font-family: arimo;
  font-size: 70px;
  font-weight: 500px;
  line-height: 500px;
  line-height: 64px;
  letter-spacing: 0%;
}

.home__title1 {
  color: #78c0de;
  font-family: arimo;
  font-size: 70px;
  font-weight: 500px;
  line-height: 64px;
  margin-bottom: 40px;
}

.home__text {
  color: #949494;
  font-family: arimo;
  font-size: 16px;
  font-weight: 500px;
  line-height: 21px;
  margin-bottom: 35px;
}

.home__btn {
  background-color: #333333;
  color: white;
  border-radius: 7px;
  width: 182px;
  height: 55px;
  padding: 14px;
}

.home__block {
  margin-left: 630px;
  height: 400px;
  padding-top: 100px;
  max-width: 600px;
}

.home__text1 {
  color: #949494;
  font-family: Futura PT;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 67px;
}

.home__tittle {
  color: #333333;
  font-family: Futura PT;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 190px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */